extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    .container.my-3
        .row
            .col-12
                +box-head("đặt hàng thành công")
