include ../mixins/sub-menu.pug

header.header
    .container 
        .row.align-items-center 
            .col-3
                .inner-logo 
                    a(href="/") 
                        img(src="/img/logo.png", alt="Logo")
            .col-5 
                form(action ="/search"
                    method= "GET")
                    div(class="form-group d-flex mb-0")
                        input(type="text", name="keyword", class="form-control", placeholder="Tìm kiếm sản phẩm" value = keyword)   
                        button(type="submit", class="btn btn-primary") Tìm kiếm
            .col-4
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            - const pathProduct ='/products';
                            a(href="/products") Sản phẩm
                                +sub-menu(productCategory,pathProduct)
                        if(!miniCart.totalQuantity.length)
                               li    
                                    a(href="/cart") Giỏ hàng (0)    
                        else
                               li
                                    a(href="/cart") Giỏ hàng (#{miniCart.totalQuantity})  
                        if(user)
                            li
                                a(href="/user/logout") Đăng xuất 
                        else 
                            li  
                                a(href="/user/login") Đăng nhập
                            li
                                a(href="/user/register") Đăng ký