    /* sub- menu */
    .sub-menu{
        position: relative;
        z-index: 999;
    }
.sub-menu ul{
        position: absolute;
        right: 0;
        top:100%;
        list-style: none;
        padding: 0;
        margin: 0;
        background: #eae9e9;
        min-width: 100px;
        display: none;
    }

.sub-menu ul li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}   
.sub-menu:hover > ul{
    display: block;
}
.sub-menu ul li {
    position: relative;
}
.sub-menu ul li ul{
    right: 100%;
    top: 0;
}
.sub-menu ul li:hover > ul{
    display: block;
}
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img{
    max-width: 100%;
    max-height: 100px;
}

.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 20px;
}

.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.box-head{
        margin-bottom: 30px;
    }

.box-head .inner-title{
        font-size: 28px;
        font-weight: 600;
        color: green;
        margin-bottom: 0px;

    }

.product-item{
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
}

.product-item .inner-image{
        width: 100%;
        aspect-ratio: 4/3;
        border-bottom: 1px solid #ddd;
        position: relative;
}
.product-item .inner-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.product-item .inner-featured{
    position: absolute;
    top: 10px;
    right: 10px;
    background: green;
    color: #fff;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}
    
.product-item .inner-content{
        padding: 15px;
}
.product-item .inner-content .inner-title{
        font-size: 18px;
        font-weight: 600;
}

.product-item .inner-content .inner-price-new{
        font-size: 18px;
        font-weight: 600;
        color: green;
        
    }

.product-item .inner-content .inner-price-old{
        font-size: 18px;
        font-weight: 600;
        text-decoration: line-through;
        color: red;
        
}

.product-item .inner-content .inner-discount{
        font-size: 14px;
        font-weight: 600;
        background: #ff0000;
        color: #fff;
        display: inline-block;
        padding: 3px 10px;
        border-radius: 8px;
}

/* product-detail */
.product-detail .inner-thumb img{
    width: 100%;
    height: auto;
}

.product-detail .inner-title{
    font-size: 32px;
    margin-bottom: 10px;
}
.product-detail .inner-category{
    margin-bottom: 10px;
}
.product-detail .inner-price-new{
    font-size: 24px;
    font-weight: 600;
    color: green;
    margin-bottom: 10px;
}
.product-detail .inner-price-old{
    font-size: 24px;
    font-weight: 600;
    text-decoration: line-through;
    color: red;
    margin-bottom: 10px;
}
.product-detail .inner-discount{
    font-size: 18px;
    font-weight: 600;
    background: #ff0000;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.product-detail .inner-stock{
    font-size: 18px;
    font-weight: 600;
    color: green;
    margin-bottom: 10px;
}
.product-detail .inner-desc{
    margin-bottom: 10px;
    margin-right: 180px;
    margin-left: 180px;

}

