    /* sub- menu */
    .sub-menu{
        position: relative;
        z-index: 999;
    }
.sub-menu ul{
        position: absolute;
        right: 0;
        top:100%;
        list-style: none;
        padding: 0;
        margin: 0;
        background: #eae9e9;
        min-width: 100px;
        display: none;
    }

.sub-menu ul li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}   
.sub-menu:hover > ul{
    display: block;
}
.sub-menu ul li {
    position: relative;
}
.sub-menu ul li ul{
    right: 100%;
    top: 0;
}
.sub-menu ul li:hover > ul{
    display: block;
}
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img{
    max-width: 100%;
    max-height: 100px;
}

.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 20px;
}

.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.box-head{
        margin-bottom: 30px;
    }

.box-head .inner-title{
        font-size: 28px;
        font-weight: 600;
        color: green;
        margin-bottom: 0px;

    }

.product-item{
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
}

.product-item .inner-image{
        width: 100%;
        aspect-ratio: 4/3;
        border-bottom: 1px solid #ddd;
        position: relative;
}
.product-item .inner-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.product-item .inner-featured{
    position: absolute;
    top: 10px;
    right: 10px;
    background: green;
    color: #fff;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}
    
.product-item .inner-content{
        padding: 15px;
}
.product-item .inner-content .inner-title{
        font-size: 18px;
        font-weight: 600;
}

.product-item .inner-content .inner-price-new{
        font-size: 18px;
        font-weight: 600;
        color: green;
        
    }

.product-item .inner-content .inner-price-old{
        font-size: 18px;
        font-weight: 600;
        text-decoration: line-through;
        color: red;
        
}

.product-item .inner-content .inner-discount{
        font-size: 14px;
        font-weight: 600;
        background: #ff0000;
        color: #fff;
        display: inline-block;
        padding: 3px 10px;
        border-radius: 8px;
}

/* product-detail */
.product-detail .inner-thumb img{
    width: 100%;
    height: auto;
}

.product-detail .inner-title{
    font-size: 32px;
    margin-bottom: 10px;
}
.product-detail .inner-category{
    margin-bottom: 10px;
}
.product-detail .inner-price-new{
    font-size: 24px;
    font-weight: 600;
    color: green;
    margin-bottom: 10px;
}
.product-detail .inner-price-old{
    font-size: 24px;
    font-weight: 600;
    text-decoration: line-through;
    color: red;
    margin-bottom: 10px;
}
.product-detail .inner-discount{
    font-size: 18px;
    font-weight: 600;
    background: #ff0000;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.product-detail .inner-stock{
    font-size: 18px;
    font-weight: 600;
    color: green;
    margin-bottom: 10px;
}
.product-detail .inner-desc{
    margin-bottom: 10px;
    margin-right: 180px;
    margin-left: 180px;

}

/* show alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 9999;
}

[show-alert].alert-hide{
    animation-name: alert-hide;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes alert-hide{
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}
[show-alert] [close-alert]{
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;   
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* chat */
.chat{
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 9999;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
}
.chat .inner-body{
    flex: 1;
    overflow: auto;
    padding: 10px;
}
.chat .inner-body .inner-incoming{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

}

.chat .inner-body .inner-incoming .inner-name{
    position: relative;
    z-index: 1;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    background: #f1f1f1;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}

.chat .inner-body .inner-incoming .inner-content{
    background: #AC97B4;
    padding: 10px;
    border-radius: 8px;

}
.chat .inner-body .inner-outgoing{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.chat .inner-body .inner-outgoing .inner-content{
    background: #F8B86B;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.chat .inner-form{
    display: flex;
    align-items: center;
    padding: 10px;
}
.chat .inner-form input{
    flex :1;
    height: 32px;
    border :1 px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
}
.chat .inner-form button{
    border-radius: 15px;
    padding: 0 10px;
    border:1px solid #FE5DA5;
    background: #FE5DA5;
    color: #fff;
    height: 32px;
    cursor: pointer;
}
/* end chat */
