extends ../../layout/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3 
        .row    
            .col-12 
                +box-head("chat")
        
        .row 
            .col-12 
                .chat(my-id= user.id)
                    .inner-body 
                        each item of chat
                            div(class=(item.user_id == user.id) ? "inner-outgoing" : "inner-incoming") 
                                if(item.user_id != user.id)
                                    p.inner-name #{item.infoUser[0].fullName}      
                                p.inner-content #{item.content}
                                
                    .inner-foot 
                        form(class = "inner-form" action ="")
                            input(type = "text" name="content" placeholder = "Type a message")
                            span(class="button-icon btn btn-light mx-2")
                                i.fa.fa-smile-o
                            button  
                                i.fa.fa-paper-plane(aria-hidden='true')
    div(class="tooltip" role="tooltip")
        emoji-picker                     