mixin sub-menu(category,pathProduct)
    ul 
        for item of category
            li
                a(href=`${pathProduct}/${item.slug}`) #{item.title}
                if item.children && item.children.length > 0
                    +sub-menu(item.children,pathProduct)