extends ../../layout/default.pug
include ../../mixins/alert.pug

block main 
    .container.my-5 
        .row.justify-content-center
            .col-8 
                h1(class="text-center") Quên mật khẩu
                form(method ="POST" action ="/user/password/forgot")
                    div(class="form-group")
                        label(for="email") Email
                        input(type="email" class="form-control" id="email" name="email" placeholder="Nhập email" required)
                    div(class="form-group")
                        button(type="submit" class="btn btn-primary") Gửi yêu cầu             