extends ../../layout/default.pug
include ../../mixins/alert.pug
block main 
    .container.my-5 
        .row.justify-content-center
            .col-8 
                h1(class="text-center") Nhập mã xác thực OTP
                form(method ="POST" action ="/user/password/otp")
                    div(class="form-group")
                        label(for="email") Email
                        input(type="email" class="form-control" id="email" name="email" readonly required value = email)
                    div(class="form-group")
                        label(for="password") Mã xác thực OTP
                        input(type= "text" class="form-control" id="otp" name="otp" placeholder="Nhập mã xác thực" required)
                    div(class="form-group")
                        br
                        button(type="submit" class="btn btn-primary btn-block") xác nhận