extends ../../layout/default.pug
include ../../mixins/alert.pug
block main 
    .container.my-5 
        .row.justify-content-center
            .col-8 
                h1(class="text-center") Đổi mật khẩu
                form(method ="POST" action ="/user/password/reset")
                    div(class="form-group")
                        label(for="password") Mật khẩu mới
                        input(type="password" class="form-control" id="password" name="password" required)
                    div(class="form-group")
                        label(for="confirmPassword") Mật khẩu mới
                        input(type="password" class="form-control" id="confirmPassword" name="confirmPassword" required)
                    div(class="form-group")
                        br
                        button(type="submit" class="btn btn-primary btn-block") Đổi mật khẩu